h1 {
	text-align:center;
}
.new-button-container {
	text-align:center;
}
.new-button {
	display:inline-block;
	border:2px solid black;
	margin-bottom:20px;

}
.sorry {
	width:100%;
	height:100px;
}
.puzzle {
	display:flex;
	flex-wrap:flex;
	justify-content:space-around;
	width:100%;
	height:200px;
	background-color:white;
}

.puzzle-letter-box {
	width:50px;
	height:50px;
	border:2px solid black;
	text-align:center;
	margin-top:80px;

}

.puzzle-letter {
	display:none;
}



.guess-button, .solve-button {
	display:inline-block;
	border:2px solid black;
}

.solve-puzzle-container {
	float:right;
}
.form-container {
	margin-right:50px;
	margin-left:50px;
	display:inline-block;
}
